# el asterisco signifia los archivos y la extension de los archivos
# el .gitignore nos sirve para ignorar los archivos que no deseamos que esten en el repositorio, es decir no se agregan al repositorio
*.jfif